body, html {
    width: 100%;
    height: 100%;
    font-size: 40px;

}
div {
    text-decoration: none;
    color: black;
}
.main{
    width:80%;
    height:90%;
    border: 5px solid black;
    border-radius: 15px;
    margin: auto;
    padding:10px;
}
.baner {
    text-decoration: none;
    font-size: 40px;
    height: 10%;
    width: auto;
    border: 5px solid black;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.logo {
    text-decoration: none;
    font-size: 40px;
    height: 95%;
    width: 15%;
    float: left;
    border: 5px solid black;
    border-radius: 15px;
    text-align: center;
}
.menu {
    font-size: 40px;
    height: 7%;
    width: 100%;
    border: 5px solid black;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-align: center;
}
.menub {
    height: 600px;
    width: 35%;
    border: 5px solid black;
    border-radius: 15px;
    float: left;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
}
.panelprawy {
    width: 60%;
    height: 600px;
    border: 5px solid black;
    border-radius: 15px;
    float: left;
    text-decoration: none;
}
.aktualnosci {
    height: 31%;
    width: 98%;
    border: 5px solid black;
    border-radius: 15px;
    margin: auto;
    text-align: center;
    text-decoration: none;
}
.oferta {
    height: 31%;
    width: 98%;
    border: 5px solid black;
    margin: auto;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
}
.opinie {
    height: 31%;
    width: 98%;
    margin: auto;
    border: 5px solid black;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
}
.stopka {
    height: 7%;
    width: 100%;
    border: 5px solid black;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: left;
    text-decoration: none;
}
a {
    text-decoration: none;
}